.calculator__form {
  position: relative;
  height: 10.1875rem;
  padding: 1.46875rem 0 3.90625rem 0;
  transition: height 0.25s ease-in-out;
}

.calculator__form:has(.invalid) {
  height: 12.5625rem;
}

.form__fieldset {
  display: flex;
  justify-content: flex-start;
  gap: 0.9375rem;
  border: none;
}

.fieldset__input-wrapper {
  flex: 1;
  max-width: 10rem;
}

.fieldset__input-label {
  display: block;
  font-size: 0.75rem;
  font-weight: var(--fw-b);
  text-transform: uppercase;
  letter-spacing: 0.166875rem;
  color: var(--clr-smokeygrey);
}

.fieldset__input {
  position: relative;
  font-size: 1.25rem;
  font-weight: var(--fw-b);
  height: 3.375rem;
  width: 100%;
  margin-top: 0.28125rem;
  padding: 0.9375rem;
  border: 0.0625rem solid var(--clr-lightgrey);
  border-radius: 0.5rem;
  outline: none;
  transition: border-color 0.15s ease-in-out;
  z-index: 1;
}

.fieldset__input:hover,
.fieldset__input:focus-within {
  border-color: var(--clr-purple);
  cursor: pointer;
}

.fieldset__input::placeholder {
  color: var(--clr-smokeygrey);
}

.form__submit-button-wrapper {
  position: relative;
}

.form__submit-button {
  position: absolute;
  bottom: 0;
  background-color: var(--clr-purple);
  height: 4rem;
  width: 4.0625rem;
  left: 50%;
  transform: translate(-50%, 52%);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: 
    background-color 0.15s ease-in-out;
}

/* Invalid State Styling */
.fieldset__input-wrapper.invalid > .fieldset__input {
  border-color: var(--clr-lightred);
}

.fieldset__input-wrapper.invalid > .fieldset__input-label, 
.fieldset__input-error-message {
  color: var(--clr-lightred);
}

.fieldset__input-error-message {
  display: block;
  font-size: 0.625rem;
  font-style: italic;
  position: relative;
  top: -3rem;
  z-index: 0;
  transition: top 0.3s ease-in-out;
}

.fieldset__input-wrapper.invalid > .fieldset__input-error-message {
  margin-top: 0.5rem;
  top: 0;
}
/* Invalid State Styling */

.form__submit-button > img {
  height: 38%;
}

.form__submit-button:hover {
  background-color: var(--clr-offblack);
}

.form__submit-button:active {
  background-color: hsl(0, 0%, 13%);
}

@media (max-width: 23.375rem) {
  .calculator__form {
    height: 9.875rem;
  }

  .calculator__form:has(.invalid) {
    height: 11.375rem;
  }

  .fieldset__input-label {
    font-size: 0.5rem;
  }

  .fieldset__input {
    font-size: 1rem;
    padding: 0.65625rem;
  }

  /* Invalid State Styling */
  .fieldset__input-error-message {
    font-size: 0.5rem;
  }
  /* Invalid State Styling */
}

@media (min-width: 40.625rem) {
  .calculator__form {
    height: 10.75rem;
    padding-bottom: 2.9375rem;
  }

  .form__fieldset {
    gap: 2rem;
  }

  .fieldset__input-label {
    font-size: 0.875rem;
  }

  .fieldset__input {
    font-size: 2rem;
    height: 4.5rem;
    padding: 1.4375rem;
    margin-top: 0.53125rem;
  }

  /* Invalid State Styling */
  .fieldset__input-error-message {
    font-size: 0.875rem;
  }

  .fieldset__input-wrapper.invalid > .fieldset__input-error-message {
    top: -0.0625rem;
  }
  /* Invalid State Styling */

  .form__submit-button {
    height: 6rem;
    width: 6rem;
    right: 0;
    left: initial;
    transform: translate(0, 51%);
  }
}