.calculator__results {
  display: grid;
  grid-template-columns: 1fr;
  gap: 6px;
  padding: 66.5px 0 26.5px 0;
}

.results__item {
  font-size: 56px;
  font-weight: var(--fw-xb);
  font-style: italic;
  line-height: 1;
  letter-spacing: -1px;
}

.results__item > .item__quantity {
  color: var(--clr-purple);
  margin-right: -1px;
}

@media (min-width: 650px) {
  .calculator__results {
    padding: 51.5px 0 25.5px 0;
  }

  .results__item {
    font-size: 80px;
    letter-spacing: -1.8px;
    margin-bottom: 4px;
  }

  .results__item > .item__quantity { 
    letter-spacing: 17px;
  }

  .results__item.counted > .item__quantity {
    letter-spacing: -2px;
  }

  .results__item > .item__type { 
    margin-left: -17px;
  }

  .results__item.counted > .item__type {
    margin-left: -7px;
  }
}

@media (min-width: 650px) and (min-height: 750px) {
  .results__item {
    font-size: 104px;
  }
}